.title {
  text-transform: uppercase;
  margin: 5px 0;
}

.back {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  margin: 10px 0;
}

.back:hover {
  top: -1px;
  background-color: #ddd;
}